// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';


//@font-face {
//  font-family: 'Open Sans Bold';
//  src: url("/fonts/OpenSans-Bold.ttf");
//  font-weight: bold;
//}
//
//@font-face {
//  font-family: 'Open Sans Regular';
//  src: url("../fonts/OpenSans-Regular.ttf");
//}


.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.space-50 {
  width: 50% !important;
}

.navbar-laravel {
  //background-image: url("../img/headexp.png");
  background-position: center;
  background-size: cover;
}

.card-header {
  //background-image: url("../img/headexp.png");
  background-position: center;
  background-size: cover;
  font-family: 'Open Sans Bold', sans-serif;
}
