// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.space-50 {
    width: 50% !important;
}

.card {
    -webkit-box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.75);
}

.card-header {
    background-image: url("/../img/headexp.png");
    background-position: center;
    background-size: cover;
    color: #ffffff;
}

.button-spacer {
    margin-right: 20px;
}
