@charset "utf-8";
/* CSS Document */

* {
	padding:0;
	margin:0;

}

@font-face {
    font-family: "font social media";
	src: url(../font/font%20social%20media.ttf)}
	
@font-face {
    font-family: "OpenSans-Regular";
	src: url(../font/OpenSans-Regular.ttf)	}
	
html{
      scroll-behavior: smooth;
}	

body {
	font-family: "OpenSans-Regular";
	background-color: #FFF;
	
	
	
}

.intranet{
	background:rgba(218,218,218,0.7);
	max-height:5.5vh;
	height:5.5vh;
	width:100%;
	}
	
.intranet div{
	background: #717075;
	max-height:5.5vh;
	height:5.5vh;
	margin-left:91%;
	width:8%;
	text-align:center;
	
	}	
.intranet a:link, .intranet a:visited, .intranet a:active{
	margin: 0 auto;
	color:#FFF;
	text-decoration:none;
	font-size:0.7em;
	line-height: 300%
	
	}
	
.intranet div:hover{
	background: #666;}	
	
.intranet img{
	width:13%;
	padding-right:3%;
}

	

.logo{
	float:left;
	width:13vw;
	min-width:13vw;
	max-width:13vw;
	margin-top: 1%;
	margin-left: 3%;
	
	}
	
.logo> img{
	max-width:90%;
	}	
	
.navbar > li > img{
	display: inline-block;
	width:1%;
	margin-left:1%;
	transition: transform .5s ease;}
	

nav{
	
	background-color:rgba(255,255,255,0.9) ;
	min-width: 100vw;
	height:22vh;
	position: fixed;
	z-index: 99999;
}

.menuBar/*ocultar menú hamburguesa*/{
	display: none;
}


.navbar{
	min-width: 85vw;
	max-width: 85vw;
	width: 85vw;
	padding: 2.5% 0;
	text-align: right;
	margin-right:0%;
	margin-left:12%;
}

.navbar li{
	display: inline;
	margin-left:3%;
	font-weight: normal;
	font-size: 0.8em;
	cursor:pointer;
}
.navbar a:link, .navbar a:visited, .navbar a:active{
	color: #999;
	text-decoration: none;
}
.navbar a:hover{
	color: #666;
	
}


.submenu1, .submenu2, .submenu3, .submenu4, .submenu5{
	background: #FFF;
	position:absolute;
	width:20%;
	height:0%;
	padding: 0% 0%;
	box-shadow: none;
	transition: height .5s ease;
	
	
	
}

.submenu1 {
	
	left: 20%;
	}
.submenu2 {
	
	left: 40%;}
.submenu3 {
	
	left: 50%;}
.submenu4 {
	
	left: 60%;}
.submenu5 {
	
	left: 70%;}
			
.navbar > li:hover > ul{
	display:block;
	box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.3);
	height:150%;
	padding: 1% 0%;
	transition: height .2s ease;
	
}			
	
.navbar > li:hover > img{
	opacity:1;
	transform: rotate(180deg);
	transition: transform .2s ease;
	
	
}		
		
.navbar > li > ul > li{
	display:none;
	position:relative;
	list-style:none;
	text-align:left;
	padding:5% 3%;
}		
	
.navbar > li:hover > ul > li{
	display:list-item;

}			

.submenu1 a, .submenu2 a, .submenu3 a, .submenu4 a, .submenu5 a{
	font-size:1.2em;}	
	
.submenu1 h1, .submenu2 h1, .submenu3 h1, .submenu4 h1, .submenu5 h1{
	font-size:1.2em;}	


.navbar > li > ul > hr{
	display:none;
}	
	
.navbar > li:hover > ul > hr{
	display:block;
}	

.main {

  width: 100%;
  height: 100vh;
  z-index: 1; }
  
.home{
	width:100%;
	padding-top:21vh;
	overflow:hidden;
	}  

.slider {
  position:relative;
  height: 50%;
  width: 100%; }

.slider__section {
  width: 25%;
  float: left;
  height: 100%;
  position: relative; }

.slider__img {
  position: absolute;
  width: 100%;
  height: 100%; }

.slider__contenido {
  position: absolute;
  z-index: 50;
  width: 100%;
  text-align: center; }


.btn-prev, .btn-next {
  width:3%;
  height:3%;
  cursor: pointer;
  position: absolute;
  z-index: 50;
  top: 45%;
  border-radius: 50%;
  opacity:0.5; }

.btn-prev:hover, .btn-next:hover {
	opacity:0.9;
 }

.btn-prev {
  left: 10px; }

.btn-next {
  right: 10px; }
  
 .btn-prev img, .btn-next img {
	 max-width:80%; } 
	 
.texto{
	top: 45%;
	text-align:center;
	position:absolute;
	width:80%;
	z-index:49;
	font-size:1.3em;
	margin:auto 10%;
	color:#FFF;}	 


.portales{
	width:100%;
    text-align:center;
	position:relative;}

.portales ul{
	width:90%;
	margin:auto;
	
	}
	
.portales li{
	text-align:center;
	margin: 1% 1%;
	width:20%;
	overflow: hidden;
	display:inline-block;
	}	

.portales a:link, .portales a:hover, .portales a:active, .portales a:visited{
	text-decoration:none;
	color:#FFF;
	font-size:1em;}
	
.portales img{
  max-width:100%;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;}
	
.portales a:hover > img{
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);}	
	
.portal1, .portal2, .portal3, .portal4, .portal5, .portal6, .portal7, .portal8, .portal9{
	width:100%;
	padding: 2% 0;}	
	
.portal1{
	background:#81BB4D;}	
	
.portal2{
	background:#C1A82F;}
.portal3{
	background:#C83738;}
.portal4{
	background:#009180;}
.portal5{
	background:#344B81;}
.portal6{
	background:#716558;}
.portal7{
	background:#140C0A;}
.portal8{
	background:#140C0A;}
.portal9{
	background:#3075BB;}
							
	
.portales > ul > li > a > div > img{
	width:6%;
	margin-left:3%;
	}	

.portales > ul > li > a:hover > div > img{
	width:6%;
	margin-left:5%;
	}	

.home1{
	width:100%;
	text-align:center;
	}	
	
.accesos{
	background: #FFF;
	width:100%;
	margin-top: 5%;
	text-align:center;
	box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.2)}

.accesos ul{
	text-align:center;
	width:90%;
	margin:auto;
	}
	
.accesos > ul > li{
	display: inline-block;
	text-align:center;
	padding: 3% 1%;
	width:12%;
	}	
	
.accesos a{
	text-decoration:none;
	}	
		
	
.accesos img{
   max-width:65%;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;}

	
.accesos img:hover{
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);}	
	
							
.accesos p{
	margin-top:8%;
	font-weight:bold;
	text-align:center;
	font-size:0.8em;}	
	
	
	
.home2{
	width:100%;
	height:100vh;
	}	
	
.home2 article{
	width:90%;
	margin:5% auto;}
	
.home2 article h1{
	margin:2% 3%;
	color:#666;
	font-size:2em;}			
	
.noticia{
	display:inline-block;
	margin-left:3%;
	margin-top:5%;
	width:45%;
	max-height:auto;
	background: #FFF;
	box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.3);
	
	}
.noticia:hover{
	cursor:pointer;}	
	
.noticia div{
	background:;
	min-height:auto;
	width:46%;}

.textonoti{
	float: right;
	margin-top:5%;
	padding: 0 3%;}
.imagennoti{
	float:left;}
	
.textonoti img{
	padding-top: 10%;
	max-width:7%;
	margin-left:0;
	-moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;}			
	
.noticia img{
	width:100%;
	}
	
.noticia a:link, .noticia a:active, .noticia a:visited{
	font-size:0.9em;
	text-decoration:none;
	background:#93397F;
	color: #FFF;
	padding: 3% 3%;
	margin: 10% 0%;
	transition: color .5s ease, background .5s ease;}		
	
.noticia a:hover{
	background:#FFF;
	color:#93397F ;
    transition: color .5s ease, background .5s ease;
	}
	
.noticia:hover .textonoti img{
	margin-left:3%;
	transition: -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;}		
	
.noticia h2{
	font-size:1em;
	color:#666666;
	padding: 10% 0%;}			
	
.noticia p{
	font-size:0.8em;
	color: #333;
	padding: 0% 0%;}	
	
	
.home3{
	width:100%;
	height:auto;
	margin-top:25%;
	}	
	
.home3 article{
	width:90%;
	margin:5% auto;}
	
.home3 article h1{
	margin:2% 3%;
	color:#666;
	font-size:2em;}			
	
.ordenanza{
	display:inline-block;
	margin-left:3%;
	margin-top:5%;
	width:29%;
	height:auto;
	max-height:auto;
	background: #FFF;
	box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.3);
	
	}
	
.ordenanza div{
	min-height:auto;
	width:100%;
	margin-top:5%;
	padding: 5% 0%;}	

	
.botonord:link, .botonord:active, .botonord:visited{
	font-size:0.9em;
	text-decoration:none;
	background:#009180;
	color: #FFF;
	padding: 1% 3%;
	margin-left:5%;}		
	
.ordenanza h2{
	font-size:0.8em;
	color:#666666;
	padding: 2% 5%;
	margin-bottom:5%;}			
	
.ordenanza p{
	font-size:0.8em;
	color:#666666;
	font-weight:bold;
	padding: 0% 5%;
	margin-bottom:5%;}		
	
	
.home4{
	width:100%;
	height:auto;
	margin-top:0%;
	}		
	
.home4 article{
	width:90%;
	margin:5% auto;}
	
.home4 article h1{
	margin:2% 3%;
	color:#666;
	font-size:2em;}	
	
.botonexp:link, .botonexp:active, .botonexp:visited{
	font-size:0.9em;
	text-decoration:none;
	background:#C1A82F;
	color: #FFF;
	padding: 1% 3%;
	margin-left:5%;}	
	
	
footer{
	margin-top:0%;}	
	
.foot {
	background: url(../img/portadas/10-portada%20footer.png) no-repeat;
	background-size:cover;
	display: grid;
	grid-template-areas:"info mapa contacto redes";
	grid-template-columns: 25% 25% 25% 24%;
	grid-column-gap: 2%;
	padding: 3% 5%;
}

.foot h1{
	color:#FFF;
	font-size:1em;
	padding-bottom: 5%;
	padding-top:5%;
	font-weight: bold;}

.foot p{
	width:80%;
	color:#FFF;
	font-size:0.8em;
	padding: 2% 0%;}
	
.foot a:link, .foot a:active, .foot a:visited{
	color:#FFF;
	text-decoration:none;}

.foot a:hover{
	color: #CCC;
	text-decoration:none;}		

.logoinfo{
	grid-area: info;
	width: 100%;
	min-width: 100%;
	max-width: 100%;
	align-self: top;
	justify-self: start;}

	
.logoinfo img{
	width:80%;
	max-width:80%;
	padding-top:10%;
	margin: 0 auto;}	

.mapa{
	grid-area: mapa;
	width: 100%;
	min-width: 100%;
	max-width: 100%;
	align-self: top;
	justify-self: start;
}

.contacto{
	grid-area: contacto;
	width: 100%;
	min-width: 100%;
	max-width: 100%;
	align-self: top;
	justify-self: start;
}

.redes{
	grid-area: redes;
	width: 100%;
	min-width: 100%;
	max-width: 100%;
	align-self: top;
	justify-self: start;
}

.author{
	grid-area: autor;
	width: 100%;
	min-width: 100%;
	max-width: 100%;
	align-self: end;
	justify-self: start;
}

.redes a:link, .redes a:visited, .redes a:active{
	color:#CCCCCC;
	font-family: "font social media";
	font-size:3em;
	margin-right: 2%;
	text-decoration:none;
}	

.redes a:hover{
	color: #999;
	text-decoration:none;
}	




.pie{
	background: #000;
	padding: 0% 0%;}

.numeros{
	background:#CCCCCC;
	width:98%;
	padding:1%;
	text-align:center;}
	
.numeros ul{
	margin: 0 auto;}	
	
.numeros li{
	display:inline-block;
	width:16%;
	text-align:center;
	border-right:solid thin  #999;}
	
.numeros h1{
	font-size:3em;
	font-weight: bold;
	color:#666666;}		
	
.numeros p{
	font-size:0.8em;
	font-weight: bold;
	color:#666666;}			
	
.copy{
	text-align:center;
	margin:auto;
	width: 100%;
	min-width: 100%;
	max-width: 100%;
	padding: 1% 0%;
}
	
.copy p{
	color:#FFFFFF;
	font-size:0.7em;}	
	
	
	
@media screen and (max-width: 1024px){

/* Hacer que aparezca barra con menú hamburguesa */

nav{
	height:7%;}

.intranet{
	display:none;
}
.logo{
	display:none;
	}

.menuBar {
	background:#FFFFFF;
	min-height:7%;
	max-width:100%;
	width:100%;
	position:fixed;
	z-index:999999;
	display: grid;
	grid-template-areas:"hamburg logo intranet";
	grid-template-columns: 25% 45% 25%;
	grid-column-gap: 1%;
	padding: 3% 2%;
	box-shadow:2px 3px rgba(51,51,51,0.3);
	}

.hambur {
	    text-align:left;
	    grid-area: "hamburg";
  		transition: transform .4s;
  		position: relative;
   		max-width:100%;
		width:100%;
  		padding: 10% 1%;
  	}
  
.hambur span {
	    top: 40%;
    	background-color: #333;
    	height: 3px;
    	position: absolute;
    	transition: .4s;
    	width: 25px;
    	border-radius: 2px;
    }
    
.hambur span:first-child /*Botón menú hamburguesa*/{ 
    	transform: translateY(-6px)
    }

.hambur span:last-child /*Botón menú hamburguesa*/{ 
    	transform: translateY(6px) 
   	}

.active/*Botón menú hamburguesa*/{
	    top: 20%;
 		position: relative;
  		transition: transform .4s;
  		width: 48px; 
  		height: 2px;
 	}

.active span:first-child/*Botón menú hamburguesa*/ { 
    	transform: rotate(45deg) translate(0) 
    }

.active span:nth-child(2)/*Botón menú hamburguesa*/ { 
    	transform: scaleX(0) 
    }

.active span:last-child/*Botón menú hamburguesa*/ { 
    	transform: rotate(-45deg) translate(0) 
    }	

.logomobile{
	text-align:center;
	grid-area: "logo";
	width:100%;
	min-width:100%;
	max-width:100%;
	margin: 0% auto;
	
	}

.logomobile img{
	width:60%;
	}

.intranetmobile{
	grid-area: "intranet";
	background: #999;
	max-height:auto;
	height:auto;
	width:100%;
	padding:6% 5%;
	text-align: center;
}

.intranetmobile a:link, .intranetmobile a:visited, .intranetmobile a:active{
	margin: 0 auto;
	color:#FFF;
	text-decoration:none;
	font-size:0.9em;
	line-height: 300%;
	
	}
	
.intranetmobile:hover{
	background: #666;}	
	
.intranetmobile img{
	width:16%;
	padding-right:6%;
}


.navbar/*Ocultar menú*/{
		display: block;
		margin-left:0;
		margin-top: 6% ;
		position: absolute;
		left: -100%;
		padding-top: 100%;
		background: rgba(255, 255, 255, 1);
		min-width: 50%;
		max-width: 50%;
		width: 50%;
		text-align: left;
	}

.navbar > li{
		display: block;
		margin: 14% 7%;
		padding: 2% 0%;
		font-size: 0.9em;

	}

.navbar > li > a{
		display: inline;
		min-width: 100%;
		position: relative;
	}



.navbar > li > a:link, .navbar > li > a:visited, .navbar > li > a:hover, .navbar > li > a:active{
		color: #666;
		text-decoration: none;
	}
	
.navbar > li > img{
	width:8%;
	margin-left:5%;}
	
	
.submenu1, .submenu2, .submenu3, .submenu4, .submenu5{
	display:block;
	left:0%;
	height:0%;
	background: #FFF;
	position:relative;
	width:100%;
	padding: 1% 0%;
	box-shadow: none;
	transition: height .5s ease;	
}		

.navbar > li:hover > ul{
	display:block;
	height:20%;
	box-shadow: none;
	transition: height .5s ease;	
}			
			
.navbar > li > ul > li{
	display:none;}		
	
.navbar > li:hover > ul > li{
	display:block;}		
	
.navbar > li > ul > hr{
	display:none;}	
	
.navbar > li:hover > ul > hr{
	display:block;}		
	
.submenu1 h1, .submenu2 h1, .submenu3 h1, .submenu4 h1, .submenu5 h1{
	display:none;}
	
.main {

  width: 100%;
  height: 100vh;
  z-index: 1; }
  
.home{
	width:100%;
	padding-top:7%;
	overflow:hidden;
	}  

.slider {
  position:relative;
  height: 50%;
  width: 100%; }

.slider__section {
  width: 25%;
  float: left;
  height: 100%;
  position: relative; }

.slider__img {
  position: absolute;
  width: 500%;
  height: 100%; }

.slider__contenido {
  position: absolute;
  z-index: 50;
  width: 100%;
  text-align: center; }


.btn-prev, .btn-next {
  width:10%;
  height:10%;
  cursor: pointer;
  position: absolute;
  z-index: 50;
  top: 25%;
  border-radius: 50%;
  opacity:0.5; }

.btn-prev:hover, .btn-next:hover {
	opacity:0.9;
 }

.btn-prev {
  left: 10px; }

.btn-next {
  right: 10px; }
  
 .btn-prev img, .btn-next img {
	 max-width:80%; } 
	 
.texto{
	top: 25%;
	text-align:center;
	position:absolute;
	width:80%;
	z-index:49;
	font-size:1.3em;
	margin:auto 10%;
	color:#FFF;}	 


.portales{
	width:100%;
    text-align:center;}

.portales ul{
	width:100%;
	margin:auto;
	}
	
.portales li{
	text-align:center;
	margin: 0% 0%;
	width:48%;
	overflow: hidden;
	display:inline-block;
	}	

.portales a:link, .portales a:hover, .portales a:active, .portales a:visited{
	text-decoration:none;
	color:#FFF;
	font-size:0.7em;}
	
.portales img{
  max-width:100%;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;}
	
.portales a:hover > img{
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);}	
	
.portal1, .portal2, .portal3, .portal4, .portal5, .portal6, .portal7, .portal8, .portal9{
	width:100%;
	padding: 2% 0;}	
	
.portal1{
	background:#81BB4D;}	
	
.portal2{
	background:#C1A82F;}
.portal3{
	background:#C83738;}
.portal4{
	background:#009180;}
.portal5{
	background:#344B81;}
.portal6{
	background:#716558;}
.portal7{
	background:#140C0A;}
.portal8{
	background:#140C0A;}
.portal9{
	background:#3075BB;}
							
	
.portales > ul > li > a > div > img{
	width:6%;
	margin-left:3%;
	}	

.portales > ul > li > a:hover > div > img{
	width:6%;
	margin-left:5%;
	}	

.home1{
	width:100%;
	text-align:center;
	}	
	
.accesos{
	width:100%;
	margin-top: 5%;
	text-align:center;
	box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.2)}

.accesos ul{
	text-align:center;
	width:100%;
	margin:auto;
	}
	
.accesos > ul > li{
	display: inline-block;
	text-align:center;
	padding: 3% 1%;
	width:30%;
	}	
	
.accesos a{
	text-decoration:none;
	}	
		
	
.accesos img{
   max-width:65%;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;}

	
.accesos img:hover{
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);}	
	
							
.accesos p{
	margin-top:8%;
	font-weight:bold;
	text-align:center;
	font-size:0.8em;}	
	
	
	
.home2{
	width:100%;
	height:100vh;
	}	
	
.home2 article{
	width:90%;
	margin:5% auto;}
	
.home2 article h1{
	margin:2% 3%;
	color:#666;
	font-size:2em;}			
	
.noticia{
	display:inline-block;
	margin-left:0%;
	margin-top:5%;
	width:100%;
	max-height:auto;
	background: #FFF;
	box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.3);
	
	}
	
.noticia div{
	background:;
	min-height:auto;
	width:46%;}

.textonoti{
	float: right;
	margin-top:5%;
	padding: 0 3%;}
.imagennoti{
	float:left;}
	
.textonoti img{
	padding-top: 10%;
	max-width:7%;}			
	
.noticia img{
	width:100%;
	}
	
.noticia a:link, .noticia a:active, .noticia a:visited{
	font-size:0.9em;
	text-decoration:none;
	background:#93397F;
	color: #FFF;
	padding: 3% 3%;
	margin: 10% 0%;}		
	
.noticia h2{
	font-size:1em;
	color:#666666;
	padding: 10% 0%;}			
	
.noticia p{
	font-size:0.8em;
	color: #333;
	padding: 0% 0%;}	
	
.home3{
	width:100%;
	height:auto;
	margin-top:190%;
	}			
	
.ordenanza{
	display:inline-block;
	margin-left:0%;
	margin-top:5%;
	width:100%;
	height:auto;
	max-height:auto;
	background: #FFF;
	box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.3);}
	

	
footer{
	margin-top:0%;}	
	
.foot {
	display: block;
}

.foot h1{
	text-align:left;
	font-size:1em;
}

.foot p{
	text-align:left;
	width:100%;
	font-size:0.8em;
	margin:auto;}	

.logoinfo{
	width: 100%;
	min-width: 100%;
	max-width: 100%;
	align-self: top;
	margin:auto;
	justify-self: center;}

	
.logoinfo img{
	text-align:center;
	max-width:50%;
	width:50%;
	padding-bottom:7%;
	margin: 2% auto;}	

.mapa{
	display: block;
	width: 100%;
	min-width:100%;
	max-width: 100%;
	align-self: top;
	justify-self: start;
}

.contacto{
	display: block;
	width: 100%;
	min-width: 100%;
	max-width: 100%;
	align-self: top;
	justify-self: start;
}

.redes{
	width: 100%;
	min-width: 100%;
	max-width: 100%;
	align-self: top;
	justify-self: start;
}


.numeros li{
	display:inline-block;
	width:40%;
	text-align:center;
	border-right: none;}

.pie{
	display: block;}
	
.copy{
	text-align:center;
}	
	
.copy p{
	padding:1% 5%;
	font-size:0.7em;}	
